<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <header>
        <div class="img-banner">
            <img width="100%" src="/public/img/bannerProyectoPizzeria01.jpg" alt="img-banner">
        </div>
        <nav class="nav-home">
            <ul>
                <li> <a href="/views/index.html"> Página Principal</a></li>
                <li> <a href="/views/pizzeria-notables.html">Pizzerias Notables</a></li>
                <li> <a href="/views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <div class="contenedor-descripcion">
        <h1>Pizzerías de Buenos Aires</h1>
        <div>
            <h2 class="ml-15">La Pizza como patrimonio cultural</h2>
            <p class="ml-15">
               El sello distintivo del paisaje ciudadano está forjadopor el tiempo, sobre la base de lascostumbres más arraigadas de sus habitantes. La gastronomíaforma parte indivisible delpatrimonio cultural de un pueblo.
            </p>
            <p class="ml-15">
                Reconocida y elegida por los viajeros del mundo comounaciudad que se destaca por su oferta gastronómica,Buenos Airesconforma un escenario urbano donde conviven sus barestradicionales con lo mássofisticado de las últimas tendencias, y entre ellos,un clásico: las pizzerías.
            </p>
            <p class="ml-15">
                Algunas de ellas guardan la historia de reconocidosmúsicos, gente de teatro, escritores yperiodistas; habitués de una extensa variedad de lugaresque todavía funcionan yconservan el secreto de la exquisita variedad de suproducción, acompañada por lamística bohemia que es un rasgo que le devuelve aBuenos Aires esa seducción irresistible,que experimentan aquellos que llegan y siempre quierenvolver a recorrerla.
            </p>
        </div>
    </div>
    
</body>
</html>