<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzerias Notables</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <header>
        <div class="img-banner">
            <img width="100%" src="/public/img/bannerProyectoPizzeria01.jpg" alt="img-banner">
        </div>
        <nav  class="nav-home">
            <ul>
                <li> <a href="/views/index.html"> Página Principal</a></li>
                <li> <a href="/views/pizzeria-notables.html">Pizzerias Notables</a></li>
                <li> <a href="/views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <div class="contenedor-descripcion-pizzeria">
       <div class="c-img">
           <img src="/public/img/elCedronImg.jpg" alt="img-cedron">
       </div>
       <div class="descripcion">
           <h1>El Cedrón</h1>
           <p>
            Hoy El Cedrón es la más famosa pizzería del tradicional barrio de Mataderos, concurrida por un numeroso público "local" (como el reconocido historiador Ofelio Vecchio) y otro que llega a comprobar el prestigio que ha trascendido los límites barriales. Su esquina es conocida como esquina Breccia, debido a la placa allí ubicada en 1994 que homenajea al dibujante Alberto Breccia.
           </p>
           <p> <span class="color-span">Dirección:</span> Av. Juan B.Alberdi 6101</p>
       </div>
    </div>
    <div class="contenedor-descripcion-pizzeria">
        <div class="c-img">
            <img src="/public/img/bancheroImg.jpg" alt="img-banchero">
        </div>
        <div class="descripcion">
            <h1>El Banchero</h1>
            <p>
            En la Boca, la Av. AlmiranteBrown ("Bron" según el decir delos vecinos), luce orgullosamente las mejores pizzerías del barrio, y sin lugar a dudas, Banchero es la más tradicional. Agustín Banchero llegó a la Boca del Riachuelo en 1893, procedente de su Génova natal. Instaló una pequeña panadería en la calle Olavarría en la que trabajó con su hijo Juan. Allí nació la fugazza con queso; rápidamente se convirtió en verdadero patrimonio gastronómico de La Boca, recorrió y triunfó en todo elmundo.
            </p>
            <p> <span class="color-span">Dirección:</span> Av. Almirante Brown 1200</p>
        </div>
     </div>
     <div class="contenedor-descripcion-pizzeria">
        <div class="c-img">
            <img src="/public/img/elChisteImg.jpg" alt="img-elChiste">
        </div>
        <div class="descripcion">
            <h1>El Chiste</h1>
            <p>
                En el histórico barrio de Montserrat, en el local de Moreno 467, entre Bolívar y Defensa, donde funciona desde 1989 la pizzería El Chiste, en una manzana muy rica desde el punto de vista patrimonial si consideramos que en ella conviven: la elegante farmacia La Estrella, el Museo de la Ciudad, la casa en que vivió durante su infancia y juventud la recordada actriz Niní Marshall, la Librería de Avila (ex Librería del Colegio) y el Café Notable La Puerto Rico.
            </p>
            <p> <span class="color-span">Dirección:</span> Moreno 467</p>
        </div>
     </div>
     <div class="contenedor-descripcion-pizzeria">
        <div class="c-img">
            <img src="/public/img/elFortinImg.jpg" alt="img-Fortin">
        </div>
        <div class="descripcion">
            <h1>El Fortín</h1>
            <p>
                Hoy El Fortín es una famosa pizzería del barrio de MonteCastro en su límite con Villa Luro,con una clientela tan consecuente que podría ser comparada con una hinchada. Fundada en 1947 por los señores Amigo y Fernández, obviamente "hinchas" de Vélez, es uno de los buscados reductos con horno a leña. Mide 3 metros de diámetro, con capacidad para 25 moldes grandes. Se calienta usando quebracho y le dan luz con madera de álamo y sauce.
            </p>
            <p> <span class="color-span">Dirección:</span> Av. AlvarezJonte 5299</p>
        </div>
     </div>
     <div class="contenedor-descripcion-pizzeria">
        <div class="c-img">
            <img src="/public/img/lasCuartetasImg.jpg" alt="img-lasCuartetas">
        </div>
        <div class="descripcion">
            <h1>Las Cuartetas</h1>
            <p>
                La pizzería del catalán Espinach y del vasco Urcola abrió sus puertas en el local de Corrientes y Libertad, allí suele asegurarse que don Alberto Vaccarezza escribía cuartetas espontáneas en las paredes,de ahí que los parroquianos comenzaron a llamarla "La casa de las cuartetas". A raíz de ello sus dueños la bautizaron oficialmente LasCuartetas.
            </p>
            <p> <span class="color-span">Dirección:</span> Av. Corrientes 838</p>
        </div>
     </div>
     
</body>
</html>